h1
{
color: red;
font-size: 40px;    
}
.body_background{
background-image: "1829351.jpg";
background-position: center;
background-size: cover;    
}
#mycanvas
{
border-width: 10px;
background-color: white;
border-style: ridge;    
}
